.card {
  color: $color-text-primary;

  &__image {
    margin-bottom: 16px;
  }

  &__title {
    font-size: $fz-lg;
    line-height: $lh-xl;
  }

  &__description {
    font-size: $fz-md;
    line-height: $lh-card;
    color: $color-text-secondary;
    margin: 4px 0;
  }

  &__time {
    font-size: $fz-sm;
    line-height: $lh-card;
  }
}
