.catalog {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 36px 15px;
  justify-items: center;
  padding: 0 10px;

  @media screen and (min-width: 1000px) {
    padding: 0;
  }
}
