// Colors

$color-primary: #262626;
$color-primary-light: #3b3b3b;
$color-primary-bright: #e0e0e0;
$color-secondary: #57ad56;
$color-secondary-dark: #49a144;
$color-text-primary: #1d1d1d;
$color-text-secondary: #626262;
$color-white: #fff;

// Font

$default-ff: roboto, sans-serif;

$fw-light: 300;
$fw-normal: 400;
$fw-bold: 700;

$fz-xs: 11px;
$fz-sm: 13px;
$fz-md: 14px;
$fz-lg: 16px;
$fz-xl: 22px;

$lh-sm: 13px;
$lh-md: 15px;
$lh-lg: 19px;
$lh-xl: 24px;
$lh-card: 21px;
$lh-heading: 34px;
